<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Promo</title>
</head>
<body>
    <div class="wrapper">
        <header>Header</header>
        <main>Main
            <div style="margin-top: 20px;font-size: 20px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officiis ea possimus delectus cumque error rerum labore facilis culpa! Tempore consequuntur eius eos tenetur laborum non repudiandae nostrum! Esse, cumque!</div>
        </main>
        <footer>Footer</footer>
    </div>
</body>
</html>